# Backend
/backend/.env
/backend/node_modules/

# Frontend
/frontend/dist/
/frontend/build/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/
typings/

# Environment variables
*.env

# Build files
dist/
build/

# IDE/editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# React specific
/build
/coverage
